.gallery {
  font-family: "Monoton", cursive;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ea5455;
  p {
    font-size: 4em;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    row-gap: 2em;
    column-gap: 2em;
    padding: 8vh 8vw;
    .gallery-grid-component {
    }
    img {
      border-radius: 25px;
      width: 100% !important;
      background-color: #ea545460;
      transition: all 0.5s ease-in-out;
      object-fit: cover;
      height: 100%;
      &:hover {
        transform: scale(0.98);
      }
    }
  }
}

.Photo-en {
  .card-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    pointer-events: none;
    z-index: 10;

    object-fit: cover;
  }
  .gallery-grid-item {
    pointer-events: all;
    width: 40%;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;
  }

  .gallery-cross {
    pointer-events: all;
    margin-left: 85vh;
    margin-bottom: -60px;
    transform: scale(0.5) translateX(-200%);
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 0.1;
    }
  }

  .card-title {
    padding: 1px 200px;
    font-family: "Montserrat Alternates", sans-serif;
    z-index: 200;
    font-size: 1.2em;
    color: #fff;
    margin-top: -10vh;
    background-color: rgba(0, 0, 0, 0.219);
    mask-image: radial-gradient(black, black, transparent, transparent);
  }
}


@media (max-width: 1200px) {
  .gallery {
    .gallery-grid {
      grid-template-columns: repeat(2, minmax(50px, 1fr));
      row-gap: 1em;
      column-gap: 1em;
      padding: 2vh 2vw;
      img {
        border-radius: 5px;
      }
    }
  }
  .Photo-en{
    .card-component {
      margin: 2%;

    }
    .gallery-grid-item {
      width: 90%;
    }
  }
}
