.container{
    display: flex;
    width: 100vw;
    background-color : #EA5455;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-family: 'Monoton';
    .Follow{
        font-size: 1.5rem;
    }
    .Icons{
        margin-top: 10px;
        display: flex;
        a{
            margin: 0px 5px;
            transition: all 0.5s;
            &:hover{
                transform: scale(0.9);
            }
        }

    }

    .return{
        margin: 20px 0px;

        a{
            color: #ffffff;
            font-size: 1.2rem;
            padding: 10px;
            text-decoration: none;
            border-radius: 10px;
            border: 1px solid transparent;
            transition: all 0.5s;
            opacity: 0.8;
            &:hover{
                border: 1px dashed white;
                opacity: 0.5;
            }
        }
    }
}
